<div class="cards">
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>
  <app-card-pets
    [linkImg]="linkImg"
    [altImg]="altImg"
    [namePet]="namePet"
    [infosPet]="infosPet"
    [localPet]="localPet">
  </app-card-pets>

</div>


