.container-profile{
  height: 60vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  border: 1px solid rgb(146, 58, 0);
  border-radius: 10px;
  background-color: rgb(131, 150, 172);

}
.profile{
  width: 40%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(209, 209, 209);
  box-shadow: 3px 4px 20px rgba(0.6, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}
.picture{
  width: 100%;
  height: 90%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.informations{
  width: 40%;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
button{
  width: 200px;
  text-align: center;
}
@media(max-width: 600px ) {
  .container-profile{
    height: 70vh;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 10px;
  }
  .profile{
    width: 80%;
    height: 50%;
  }
  .informations{
    width: 80%;
  }
}
