<div class="container-home">
  <section class="banner">
    <div class="img-banner">
      <img src="assets/banner-pets.png" alt="banner pets">
    </div>
  </section>
  <section class="searcher">
    <h2>Encontre o seu pet</h2>
    <form [formGroup]="findForm" (ngSubmit)="handleSubmit()">
      <label for="tipo">Tipo</label>
      <div class="flex-container"> 
        <app-toggle tipo ="Caes"></app-toggle>
        <app-toggle tipo ="Gatos"></app-toggle>
      </div>
      <div>
        <label for="local"> Local</label>
        <input type="text" formControlName="local">
      </div>
      <div>
        <app-button name="Encontrar"></app-button>
      </div>
      <div>
        
      </div>
    </form>  
  </section>
</div>


