<div class="container-home">
  <section class="banner">
    <div class="img-banner">
      <img src="assets/banner2.png" alt="banner pets">
    </div>
  </section>
  <section class="searcher">
    <h2>Encontre o seu pet</h2>
    <form [formGroup]="findForm" (ngSubmit)="handleSubmit()">
      <label for="tipo">Tipo</label>
      <div>
        <mat-slide-toggle formControlName="enableDog">Cães</mat-slide-toggle>
        <mat-slide-toggle formControlName="enableCat">Gatos</mat-slide-toggle>
      </div>
      <mat-label for="estado">Estado</mat-label>
      <mat-select required (selectionChange)="onStateSelected($event.value)" formControlName="stateSelect">
        <mat-option  *ngFor="let state of states" [value]="state.name" >{{state.name}}</mat-option>
      </mat-select>
      <label for="cidade">Cidade</label>
      <mat-select formControlName="citieSelect">
        <mat-option *ngFor="let citie of cities" [value]="citie" >{{citie}}</mat-option>
      </mat-select>
      <div>
        <app-button name="Encontrar"></app-button>
      </div>
    </form>
  </section>
</div>


