.card{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 220px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 20px;
  cursor: pointer;
}
.pic{
  height: 70%;
  background-color: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.name{
  height: 10%;
  background-color: gray;
  text-align: center;
}
.infos{
  height: 20%;
  text-align: center;
  background-color: azure;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
img{
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
