.card{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 220px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  @media (max-width: 400px){
    height: 200px;
    width: 150px;
    font-size: smaller;
  }
}
.pic{
  height: 70%;
  background-color: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.name{
  height: 10%;
  background-color: gray;
  text-align: center;
}
.infos{
  height: 20%;
  text-align: center;
  background-color: azure;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
img{
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
:hover{
  .name{
    background-color: green;
    color: white;
    font-size: large;
  }
}

